<page-title>
    Client List
</page-title>
<style>
    .viewport{
        padding-top:60px;
    }
</style>

<div class="viewport">
    <div class="limit-width padding-15">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of Registered Client
                <button class="btn btn-default panel-action" ng-click="$ctrl.editClient({})"><i class="fa fa-plus"></i> Add Client</button>
            </div>
            <div class="panel-body" ng-if="$ctrl.list.length==0">
                <h4>No data</h4>
                <p>There is no data to display</p>
            </div>
            <table class="table table-striped" ng-if="$ctrl.list.length>0">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Callback</th>
                    <th class="col-xs-1">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in $ctrl.list">
                    <td>{{client.code}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.description}}</td>
                    <td>{{client.callback}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" ng-click="$ctrl.editClient(client, true)"><i class="fa fa-pencil"></i> </button>
                            <button class="btn btn-default btn-sm" ng-click="$ctrl.deleteClient(client)"><i class="fa fa-remove"></i> </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>


<script type="text/ng-template" id="clientEdit.html">
    <div >
        <div class="modal-header">
            <button type="button" class="close" ng-click="$mdl.cancel()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Client</h4>
        </div>
        <div class="modal-body">
            <!--<p>{{$mdl.data|json}}</p>-->
            <div class="form">
                <div class="form-group">
                    <label>Code</label>
                    <input class="form-control" type="text" ng-model="$mdl.data.code">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" ng-model="$mdl.data.name">
                </div>
                <div class="form-group">
                    <label>Decription</label>
                    <input class="form-control" type="text" ng-model="$mdl.data.description">
                </div>
                <div class="form-group">
                    <label>Callback</label>
                    <input class="form-control" type="text" ng-model="$mdl.data.callback">
                </div>
                <!--<div class="form-group">-->
                    <!--<label>Client</label>-->
                    <!--&lt;!&ndash;ng-options="client.name for client in $mdl.items.clientList"&ndash;&gt;-->
                    <!--<select class="form-control" ng-model="$mdl.data.client"-->
                            <!--ng-options="client.name for client in $mdl.items.clientList">-->
                        <!--&lt;!&ndash;<option ng-repeat="client in $mdl.items.clientList" ng-value="client">{{client.name}}</option>&ndash;&gt;-->
                    <!--</select>-->
                <!--</div>-->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$mdl.cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="$mdl.update($mdl.data)"><i
                    class="fa fa-floppy"></i> Save changes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="clientDelete.html">
    <div >
        <div class="modal-header">
            <button type="button" class="close" ng-click="$mdl.cancel()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Remove Client</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure to remove the following client</p>
            <div class="form">
                <div class="form-group">
                    <label>Code</label>
                    <p class="form-control-static">{{$mdl.data.code}}</p>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <p class="form-control-static">{{$mdl.data.description}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$mdl.cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="$mdl.update($mdl.data)"><i
                    class="fa fa-floppy"></i> Remove Client
            </button>
        </div>
    </div>
</script>

